{% extends "main/layout.html" %}
{% load static %}
{% block body %}

<!-- Header -->
<header id="header">
    
</header>

<!-- Banner -->
<!--
Note: To show a background image, set the "data-bg" attribute below
to the full filename of your image. This is used in each section to set
the background image.
-->
<section id="banner" class="bg-img" data-bg="banner.jpg">
    <div class="inner">
        <header>
            <h1>LOS FUTURISTAS</h1>
        </header>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper post">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Desde el amanecer la sombra del caminante ya se proyecta hasta el ocaso.</h2>
                <p>21.10.2020</p>
            </header>
            <div class="content">
                <p>Somos una revista literaria que representa el pensamiento de los jóvenes sin filtros y sin vergüenza. Nadie que escriba aquí existe ya. Estás leyendo el futuro.</p>
            </div>
            <footer>
                <a href="generic.html" class="button alt">Leer Más</a>
            </footer>
        </article>
    </div> 
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Última Publicación</h2>
            </header>
            <div class="content">
                <p>SINOPSIS SINOPSIS SINOPSIS</p>
            </div>
            <footer>
                <a href="generic.html" class="button alt">Leer Más</a>
            </footer>
        </article>
    </div>
</section>

<!--Three-->
<section id="three" class="wrapper post bg-img" data-bg="banner5.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2 id="toread">¿Qué puedes esperar leer en esta revista?</h2>
            </header>
        </article>
    </div>
</section>

<!-- Repeat -->
<section class="wrapper post bg-img repeat" data-bg="banner5.jpg">
    <div class="readerinner inner">
        <article class="box">
            <header>
                <h2>Título Publicación</h2>
                <p>Autor</p>
            </header>
            <div class="content">
                <p>MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO </p>
            </div>
        </article>
    </div>
</section>
<!-- Four -->
<section id="four" class="wrapper post bg-img">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Archivo</h2>
            </header>
            <div class="content">
                <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
            </div>
            <footer>
                <a href="generic.html" class="button alt">Acceder</a>
            </footer>
        </article>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <h2>Publica con Nosotros</h2>

        <form action="#" method="post">

            <div class="field half first">
                <label for="name">Nombre</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Asunto</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button alt" type="submit"></li>
            </ul>
        </form>

    </div>
</footer>
{% endblock %}