{% extends "main/layout.html" %}
{% load static %}
{% block body %}
<div id="main" class="container">
    <div class="blackbox">
        <header>
            <h2>Todos caben aquí.</h2>
            <p>Anímate.</p>
        </header>
        <footer>
            <div class="inner">
        
                <h3>Publica con Nosotros</h3>
        
                <form action="#" method="post">
        
                    <div class="field half first">
                        <label for="name">Nombre</label>
                        <input name="name" id="name" type="text" placeholder="Name">
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <label for="message">Asunto</label>
                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input value="Enviar Mensaje" class="button alt" type="submit"></li>
                    </ul>
                </form>
                <p>Si estás suscrito puedes publicar directamente. Los mensajes en este apartado serán considerados para participar aunque 
                    no está garantizada su aparición en la revista.
                </p>
                <a href="{% url 'main:addwork' %}" class="button alt">Publica como Suscriptor   </a>
            </div>
        </footer>
    </div>
</div>

{% endblock %}